/**
 * Base styles for manage's pages.
 * 
 * @Author	RobinHuang
 * @Version	1.0
 * @Date	2012-05-19
 */

body, div, ul, li, p, span, h1, h2, h3, h4, h5, h6, ol, img, a {
    margin:0; 
    padding:0;
    border:0 none;
}
body {
    font-size:12px; 
    font-weight:normal; 
    color:#333333;
    font-family:宋体, Arial;
}

a {
    cursor:pointer;
}

table.info {
    width:100%;
}

table.info td {
    padding:6px 2px 4px;
    border-bottom:1px dashed #DDDDDD;
}

.l-table-edit-td {
    padding: 4px;
}

.TableView .datagrid_div {
    height: 200px;
    overflow:auto;
}

.rate_template .l-frozen .l-grid2 .l-grid-body {
    overflow-x:hidden;
}

.jstree-grid-header {
    background:url(../img/gridalt.gif) repeat-x scroll left top #F1F1F1;
    border-bottom:1px solid #D6D6D6;
    height:20px; 
    line-height:20px;
    padding-left:4px;
}
