/*
 * Icons styles
 * 
 * @Author	RobinHuang
 * @Version	1.0
 * @Date	2012-05-20
 */

.icon {
    width:16px; 
    height:16px; 
    overflow:hidden;
    display:inline-block;
    margin-top:3px;
    cursor:pointer;
}

.icon-edit {
    background:url(../img/icons/edit.gif) no-repeat scroll center center transparent;
}

.icon-del {
    background:url(../img/icons/delete.gif) no-repeat scroll center center transparent;
}

.icon-view {
    background:url(../img/icons/view.gif) no-repeat scroll center center transparent;
}
